In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
outerIndex = ["Group1","Group1","Group1","Group2","Group2","Group2","Group3","Group3","Group3"]

In [3]:
innerIndex = ["Index1","Index2","Index3","Index1","Index2","Index3","Index1","Index2","Index3"]

In [5]:
list(zip(outerIndex,innerIndex))

[('Group1', 'Index1'),
 ('Group1', 'Index2'),
 ('Group1', 'Index3'),
 ('Group2', 'Index1'),
 ('Group2', 'Index2'),
 ('Group2', 'Index3'),
 ('Group3', 'Index1'),
 ('Group3', 'Index2'),
 ('Group3', 'Index3')]

In [6]:
hierarchy = list(zip(outerIndex,innerIndex))

In [7]:
hierarchy = pd.MultiIndex.from_tuples(hierarchy)

In [8]:
hierarchy

MultiIndex(levels=[['Group1', 'Group2', 'Group3'], ['Index1', 'Index2', 'Index3']],
           labels=[[0, 0, 0, 1, 1, 1, 2, 2, 2], [0, 1, 2, 0, 1, 2, 0, 1, 2]])

In [9]:
df = pd.DataFrame(randn(9,3),hierarchy,columns = ["Column1","Column2","Column3"])

In [10]:
df

                Column1   Column2   Column3
Group1 Index1  1.149573  1.983526 -0.000752
       Index2  0.062797  0.685069  0.491895
       Index3 -0.147420  1.976905  1.440947
Group2 Index1 -0.802215 -1.789741  0.500171
       Index2 -1.618529 -0.282588 -1.645312
       Index3 -0.185399 -0.320527  1.324431
Group3 Index1  0.514694 -0.271786 -0.698143
       Index2 -0.694070 -0.127414 -2.011046
       Index3  0.895853  0.831051 -1.124939

In [11]:
df["Column1"]

Group1  Index1    1.149573
        Index2    0.062797
        Index3   -0.147420
Group2  Index1   -0.802215
        Index2   -1.618529
        Index3   -0.185399
Group3  Index1    0.514694
        Index2   -0.694070
        Index3    0.895853
Name: Column1, dtype: float64

In [13]:
df.loc["Group2"]

         Column1   Column2   Column3
Index1 -0.802215 -1.789741  0.500171
Index2 -1.618529 -0.282588 -1.645312
Index3 -0.185399 -0.320527  1.324431

In [14]:
df.loc[["Group1","Group2"]]

                Column1   Column2   Column3
Group1 Index1  1.149573  1.983526 -0.000752
       Index2  0.062797  0.685069  0.491895
       Index3 -0.147420  1.976905  1.440947
Group2 Index1 -0.802215 -1.789741  0.500171
       Index2 -1.618529 -0.282588 -1.645312
       Index3 -0.185399 -0.320527  1.324431

In [17]:
df.loc["Group1"].loc["Index1"]["Column1"]

1.1495726218543292

In [18]:
df

                Column1   Column2   Column3
Group1 Index1  1.149573  1.983526 -0.000752
       Index2  0.062797  0.685069  0.491895
       Index3 -0.147420  1.976905  1.440947
Group2 Index1 -0.802215 -1.789741  0.500171
       Index2 -1.618529 -0.282588 -1.645312
       Index3 -0.185399 -0.320527  1.324431
Group3 Index1  0.514694 -0.271786 -0.698143
       Index2 -0.694070 -0.127414 -2.011046
       Index3  0.895853  0.831051 -1.124939

In [19]:
df.index.names

FrozenList([None, None])

In [20]:
df.index.names= ["Groups","Indexes"]

In [21]:
df

                 Column1   Column2   Column3
Groups Indexes
Group1 Index1   1.149573  1.983526 -0.000752
       Index2   0.062797  0.685069  0.491895
       Index3  -0.147420  1.976905  1.440947
Group2 Index1  -0.802215 -1.789741  0.500171
       Index2  -1.618529 -0.282588 -1.645312
       Index3  -0.185399 -0.320527  1.324431
Group3 Index1   0.514694 -0.271786 -0.698143
       Index2  -0.694070 -0.127414 -2.011046
       Index3   0.895853  0.831051 -1.124939

In [26]:
df.xs("Group2").xs("Index1").xs("Column1")

-0.8022150735657861

In [28]:
df.xs("Index1",level = "Indexes")

         Column1   Column2   Column3
Groups
Group1  1.149573  1.983526 -0.000752
Group2 -0.802215 -1.789741  0.500171
Group3  0.514694 -0.271786 -0.698143