In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [4]:
randn(3,3)

array([[ 0.47700171, -2.47869257,  1.83210416],
       [-1.14347739, -0.79078615,  0.93610931],
       [-0.03908972,  0.0910936 ,  0.95501904]])

In [5]:
df = pd.DataFrame(data = randn(3,3),index = ["A","B","C"],columns = ["Column1","Column2","Column3"])

In [6]:
df

    Column1   Column2   Column3
A  0.663886 -0.944542  0.606110
B -0.963798 -0.979646 -2.222645
C -0.176811  0.097779  1.029572

In [8]:
df["Column2"]

A   -0.944542
B   -0.979646
C    0.097779
Name: Column2, dtype: float64

In [9]:
type(df["Column2"])

pandas.core.series.Series

In [12]:
df.loc["A"]

Column1    0.663886
Column2   -0.944542
Column3    0.606110
Name: A, dtype: float64

In [14]:
df[["Column1","Column3"]]

    Column1   Column3
A  0.663886  0.606110
B -0.963798 -2.222645
C -0.176811  1.029572

In [17]:
df

    Column1   Column2   Column3
A  0.663886 -0.944542  0.606110
B -0.963798 -0.979646 -2.222645
C -0.176811  0.097779  1.029572

In [18]:
df["Column4"] = pd.Series(randn(3),["A","B","C"])

In [19]:
df

    Column1   Column2   Column3   Column4
A  0.663886 -0.944542  0.606110  0.540932
B -0.963798 -0.979646 -2.222645 -0.134631
C -0.176811  0.097779  1.029572  0.304007

In [20]:
df["Column5"] = df["Column1"] + df["Column2"] + df["Column3"]

In [21]:
df

    Column1   Column2   Column3   Column4   Column5
A  0.663886 -0.944542  0.606110  0.540932  0.325453
B -0.963798 -0.979646 -2.222645 -0.134631 -4.166089
C -0.176811  0.097779  1.029572  0.304007  0.950540

In [22]:
df

    Column1   Column2   Column3   Column4   Column5
A  0.663886 -0.944542  0.606110  0.540932  0.325453
B -0.963798 -0.979646 -2.222645 -0.134631 -4.166089
C -0.176811  0.097779  1.029572  0.304007  0.950540

In [26]:
df.drop("Column5",axis = 1,inplace = True)

In [27]:
df

    Column1   Column2   Column3   Column4
A  0.663886 -0.944542  0.606110  0.540932
B -0.963798 -0.979646 -2.222645 -0.134631
C -0.176811  0.097779  1.029572  0.304007

In [29]:
df["Column1"]

A    0.663886
B   -0.963798
C   -0.176811
Name: Column1, dtype: float64

In [30]:
df.loc["A"]

Column1    0.663886
Column2   -0.944542
Column3    0.606110
Column4    0.540932
Name: A, dtype: float64

In [31]:
df.iloc[0]

Column1    0.663886
Column2   -0.944542
Column3    0.606110
Column4    0.540932
Name: A, dtype: float64

In [33]:
df.loc["A","Column1"]

0.6638858611685295

In [34]:
df.loc["B","Column2"]

-0.9796463643704211

In [35]:
df.loc[["A","B"],["Column1","Column2"]]

    Column1   Column2
A  0.663886 -0.944542
B -0.963798 -0.979646